# For setup using supabase db (main branch)

DISCORD_TOKEN=
SUPABASE_URL=
SUPABASE_KEY=

# For setup using native postgreSQL (main-pg branch)
#DISCORD_TOKEN=
#DB_USER=
#DB_HOST=
#DB_NAME=
#DB_PASSWORD=
